<% for(var i=0;i< allTodos.length;i++){%>
    <table>
        <tr>
            <td><%= allTodos[i].id %></td>
            <td><%= allTodos[i].title %></td>
            <td><%= allTodos[i].duedate %></td>
            <td><%= allTodos[i].markAsComplete %></td>
        </tr>
    </table>
    <%}%>
